# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Explain the role of Jupyter Notebooks in data analysis.
- Demonstrate basic arithmetic operations in Python.
- Introduce key concepts in version control using Git and GitHub.
- Provide examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow
5. Scikit-learn
6. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Naime